<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="DefaulConnect" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=QuanLyRaVaoCty;Integrated Security=true;"/>
	</connectionStrings>
	<SubSonicService defaultProvider="MyDAL" enableTrace="false" templateDirectory="">
		<providers>
			<clear/>
			<add name="MyDAL" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DefaulConnect" generatedNamespace="DAL" removeUnderscores="false" spClassName="SPs"/>
		</providers>
	</SubSonicService>
</configuration>