
.italic {
    font-style: italic;
    opacity: .7;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: baseline;
}

    .titles > div {

        height: 15px;
    }

        .titles > div > .speech {
            top: -570%;
        }


        .titles > div > img {
            top: 2px;
        }

.chat-main__item--right > div > .chat-wrapper > .chat-item__box > .titles {
    flex-direction: row-reverse;
    justify-content: end;
}

    .chat-main__item--right > div > .chat-wrapper > .chat-item__box > .titles > span {
        flex-direction: row-reverse;
        padding: 0 15px 0 0;
    }

.chat-wrapper {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    max-width: 45vw;
}


.chat-main__item--right > .chat-main__content > .chat-wrapper > span {
    opacity: .75;
    display: flex;
    justify-content: end;
}

.chat-wrapper > span {
    opacity: .7;
    font-size: .8em;
    padding: 5px 7px;
    min-width: 15%;
}

.time-gap {
    text-align: center;
    margin: 25px 0;
    /* background-color: rgb(229 229 229 / 50%); */
    /* width: 25%; */
    display: flex;
    justify-content: center;
}

    .time-gap > .timer {
        background-color: rgb(217 217 217 / 50%);
        width: fit-content;
        padding: 5px 10px;
        border-radius: 25px;
    }


.chat-ellips__item {
    padding: 6px 6px;
    margin: 0 6px;
}

    .chat-ellips__item:hover {
        animation-name: emoji_scale;
        animation-duration: .25s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.24,1.49,1,.99);
    }

@keyframes emoji_scale {
    0% {
        transform: scale(1);
    }

    100% {
        padding: 6px 3px;
        margin: 0 9px;
        transform: scale(2) translateY(-10%);
    }
}

#loading_circle, .upload_loader_show {
    border: 10px solid #dfdfdf;
    border-top: 10px solid #3498db;
    border-left: 10px dashed #e1edff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 15;
}

.loader_show {
    animation: upload_loader_show .25s ease-out, spin .5s linear infinite !important;
    animation-fill-mode: forwards !important;
    bottom: unset;
}

.upload_loader_show {
    animation: spin .5s linear infinite !important;
    bottom: 75%
}

@keyframes loader_show {
    0% {
        bottom: 125%;
    }

    100% {
        bottom: 100%;
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%,100%) rotate(0deg);
    }

    100% {
        transform: translate(-50%,100%) rotate(360deg);
    }
}

#unread_messages {
    background-color: rgba(136, 191, 252,1);
    width: calc(100% - 35px);
    height: 30px;
    z-index: 4;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px 15px;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.new_messages > * {
    color: red;
    display: flex;
}

.new_messages {
    align-items: center;
    display: flex;
    padding: 0 0;
}

    .new_messages > span {
        position: absolute;
        color: white;
        background-color: red;
        font-family: 'Roboto', sans-serif;
        padding: 5px;
        border-radius: 15px;
        font-size: .7em;
        z-index: 2;
        left: 50%;
        transform: translate(-50%,47%);
        white-space: nowrap;
    }

#new_messages_template {
    display: none;
}

.new_messages > hr {
    border-style: solid;
    width: 100%;
    position: absolute;
    z-index: 2;
}

#unread_messages > * {
    color: white;
}

.fa-cancel-icon:before {
    transform: rotate(-15deg);
    content: "\01F5D9";
}

#chat-search__list {
    transform: translateX(-100%);
    width: 40vw;
    height: 100%;
    background: #eef4ff;
    z-index: 10;
    left: 100%;
    border-radius: 15px 0 0 15px;
    /*display: none;*/
    list-style-type: none;
    min-width: 50vw;
    max-width: calc(100vw / 2); /* 1/3 of viewport width in wide resolution */
    border-radius: 0px 0 0 20px;
}



@media (max-aspect-ratio: 1/1) {
    #chat-search__list {
        color: black !important;
        min-width: calc(100vw / 1.75); /* 2/3 of screen width in tall resolution */
        max-width: calc(100vw / 1.75); /* 2/3 of screen width in tall resolution */
    }

    .placeholder_loading_chat_box > * {
        max-width: 25vw;
    }

        .placeholder_loading_chat_box > * > * {
            max-width: 10vw;
        }
}

#chat-search__list::-webkit-scrollbar {
    display: none;
}

#chat-search__list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.fa-pen {
    content: '\270E';
}


#search__list_placeholder_layer {
    overflow-y: hidden;
    z-index: 2;
    padding-right: 10px;
}

.message_highlight::before {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 15px;
    background: blue;
    content: "";
    animation: search-message-highlight 2s;
    animation-fill-mode: forwards;
}

@keyframes search-message-highlight {
    0% {
        background: rgba(170, 224, 255,0);
    }

    25% {
        background: rgba(170, 224, 255,1);
    }

    75% {
        background: rgba(170, 224, 255,1);
    }

    100% {
        background: rgba(170, 224, 255,0);
    }
}

#search__list_placeholder_layer::-webkit-scrollbar {
}

#popup_layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

    #popup_layout > * {
        pointer-events: auto;
    }

:root {
    --placeholder-avatar-color: #bbccef;
    --placeholder-box-color: #728abb;
    --placeholder-title-box-color: #c4cddf;
    --placeholder-content-boxes-color: #e3ecff;
}

.placeholder_boxes_holder {
    display: flex;
    letter-spacing: 5px;
    justify-content: unset !important;
    gap: 3px;
    flex-wrap: wrap;
    font-size: 1em;
}

    .placeholder_boxes_holder > * {
        border-radius: 25px;
    }

.placeholder_content_boxes {
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
}

    .placeholder_content_boxes > * {
        background-color: var(--placeholder-content-boxes-color );
    }

.time_loading_placeholder {
    margin-bottom: 5px;
}

    .time_loading_placeholder > * {
        background-color: var(--placeholder-avatar-color);
    }

.titles.placeholder_boxes_holder > * {
    background-color: var(--placeholder-title-box-color);
}

.placeholder_loading_chat_box {
    background-color: var(--placeholder-box-color);
}

.loading_image {
    border-radius: 50%;
    background: var(--placeholder-avatar-color);
    width: 40px;
    height: 40px;
}

#search_loading_placeholder_template {
    display: none;
}

.placeholder_chatbox {
    background-color: #d6e3ff;
    border-radius: 10px;
    padding: 15px 10px;
}

.placeholder_boxes_holder > * {
    overflow: hidden;
}

:root {
    --slide-color: 235, 241, 255;
    --placehold_chatboxes-color: 255, 255, 255;
}

.placeholder_content_boxes > *::after {
    background: -moz-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%, rgba(var(--placehold_chatboxes-color),0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(var(--placehold_chatboxes-color),0)), color-stop(50%,rgba(var(--placehold_chatboxes-color),0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* IE10+ */
    background: linear-gradient(to right, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* W3C */
    pointer-events: none;
}

.layer_hole {
    overflow: hidden;
}

    .layer_hole::after {
        animation-name: image_slide !important;
    }

    .layer_hole::after, .placeholder_boxes_holder > *::after {
        pointer-events: none;
        content: '';
        top: 0;
        transform: translateX(-200%) translateY(-50%);
        width: 65%;
        height: 220px;
        position: absolute;
        z-index: 1;
        animation: slide 1.5s infinite 0s ease-out;
        /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
        background: -moz-linear-gradient(left, rgba(var(--slide-color),0) 0%, rgba(var(--slide-color),0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(var(--slide-color),0)), color-stop(50%,rgba(var(--slide-color),0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
    }

/* animation */

@keyframes image_slide {
    0% {
        transform: translateX(-150%) translateY(-50%) rotate(-25deg);
    }

    100% {
        transform: translateX(200%) translateY(-50%) rotate(25deg);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-250%) translateY(-50%) rotate(15deg);
    }

    100% {
        transform: translateX(0%) translateY(-50%) rotate(-15deg);
    }
}

#chat-search__list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fake_chat:hover {
    background: #cbd8f5;
}

.fake_chat {
    background: #d6e3ff;
    padding: 15px 5px;
    z-index: 2;
    position: relative;
}

#search_not_found > img {
    width: 50%;
}

#search_not_found {
    position: absolute;
    text-align: center;
    font-size: 3em;
    color: #a4bef3;
    display: none;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateY(-50%) translateX(-50%);
}


.fc_jump_to {
    position: absolute;
    border-radius: 25px;
    background: #eef4ff;
    padding: 5px;
    color: #b2c0f0;
    font-size: 1.15em;
    display: none;
    pointer-events: none;
}

.fake_chat:hover > .fc_jump_to {
    display: unset;
    animation: fc_jump_to .25s;
    animation-timing-function: cubic-bezier(0,1.02,.18,.99);
    animation-fill-mode: forwards;
    left: 50%;
}

.fake_chat {
    pointer-events: auto;
    cursor: auto;
}

.fake_chat_anim {
    transform: translateY(100%);
    animation: fake_chat_anim .35s;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: none;
    animation-timing-function: cubic-bezier(0,.45,.38,.99);
}





@keyframes new_chat_box {
    0% {
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fake_chat_anim {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fc_jump_to {
    0% {
        transform: translateY(50%) translateX(-50%);
        z-index: -1;
    }

    50% {
        z-index: 0;
    }

    100% {
        transform: translateY(0%) translateX(-50%);
    }
}

#scroll_bottom > span > img {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    transform: scaleX(.9);
}

#scroll_bottom > span {
    align-items: center;
    display: flex;
}

#scroll_bottom {
    position: absolute;
    bottom: 0;
    background: #e3eeffeb;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px 15px;
    color: #8c9db7;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    justify-content: space-between;
}

#scroll_message_bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    padding: 5px 15px;
    bottom: 0;
    background-color: #dae5f0f2;
    width: 100%;
    border-radius: 10px 10px 0 0;
    pointer-events: auto;
    cursor: pointer;
}

    #scroll_message_bottom > span {
        display: flex;
        align-content: center;
        color: gray;
    }

        #scroll_message_bottom > span > img {
            width: 20px;
            height: 20px;
            margin: 0 5px;
            transform: scaleX(.8);
            color: blue;
        }

.button_red_highlight:hover {
    background-color: red !important;
}

    .button_red_highlight:hover > input {
        background-color: red !important;
        color: white !important;
    }

    .button_red_highlight:hover > img {
        background-color: red !important;
        filter: none;
    }

.button_red_highlight > input {
    color: red !important;
}

.button_red_highlight > img {
    color: red !important;
    filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(6655%) hue-rotate(1deg) brightness(113%) contrast(114%);
}

.chat-ellips__dropdown__menu > li > input {
    text-align: left;
    font-weight: 600;
}

.chat-ellips__dropdown__menu > li {
    gap: 15px;
    display: flex;
    justify-content: space-around;
    height: 35px;
    margin: 2px 5px;
    text-align: left;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}



    .chat-ellips__dropdown__menu > li > img {
        height: 75%;
        transform: translateY(-1px);
    }

    .chat-ellips__dropdown__menu > li:first-child {
        margin-top: 5px;
    }

    .chat-ellips__dropdown__menu > li:nth-last-child(3) {
        margin-bottom: 5px;
    }

textarea {
    font-family: 'Roboto', sans-serif;
    flex: 1;
    min-height: 40px;
    resize: none;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
    padding: 10px;
    margin-right: 10px;
    background-color: #f6f6f9;
    box-sizing: border-box; /* Add this line */
    height: 100%;
    font-size: 15px;
}

.editingBoxes {
    align-items: center;
    padding: 5px 0;
    height: auto;
}

    .editingBoxes > textarea {
        background: none;
        color: white;
    }

.mess_content[contenteditable=true] {
    margin: 5px 0;
    outline: none;
    background: #d0dfff29;
    border-radius: 5px;
    padding: 5px 5px;
}

.mess_content.toRemove {
    min-width: 30vw;
}

.message_editing > .chat-main__content > .chat-wrapper > .chat-item__box > #main__ellips {
    display: none !important;
}

.display_none {
    display: none !important;
}

.mess_edited {
    font-size: .85em;
    top: -1px;
    display: inline-block;
}

.chat-main__list {
    overflow-x: hidden;
}

#attachMenuButton {
    user-select: none;
}

    #attachMenuButton > img:hover {
        filter: brightness(1.5) saturate(.9);
    }

#uploadPreview {
    width: 100%;
    /* height: 25px; */
    display: flex;
    overflow-x: auto;
    overflow-y: clip;
    list-style: none;
    gap: 5px;
    border-radius: 15px;
}

.chat-footer {
    display: grid;
    padding: unset !important;
    min-height: unset !important;
    height: unset !important;
    background: none !important;
    border-top: none !important;
    grid-template-columns: 1fr;
}


.footer-wrapper {
    display: flex;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    height: 85px;
}

.uploadPreviewContainer {
    overflow: hidden;
    padding: 0 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 10px 10px 0 0;
}

.filePreview {
    width: 12vw;
    height: 12vw;
    flex: 0 0 auto;
    background: gray;
    margin: 10px;
    border-radius: 5px;
    background: #d6e6ff;
    display: flex;
    /* align-items: end; */

    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 125px;
    min-width: 125px;
}

.attached_files > img, .attached_files > video {
    max-width: 100%;
    border-radius: 10px;
    max-height: 50vh;
    min-width: 10vw;
    border-radius: 3%;
}

.btn {
    user-select: none;
}

.filePreviewToolbar {
    position: absolute;
    background: #7d808a;
    bottom: 100%;
    left: 100%;
    transform: translate(-85%,100%);
    height: 18%;
    display: flex;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

    .filePreviewToolbar > * {
        aspect-ratio: 1 / 1;
        height: 100%;
        padding: 5px;
        background: #7eaadd;
        cursor: pointer;
        display: flex;
    }

        .filePreviewToolbar > *:hover {
            filter: brightness(1.15);
        }

        .filePreviewToolbar > * > img {
            height: 100%;
            width: 100%;
        }

.delete_icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(6655%) hue-rotate(1deg) brightness(113%) contrast(114%);
}

#uploadPreviewTemplate {
    display: none;
}

.preview_image_wrapper {
    width: 100%;
    height: 100%;
    background: rgb(228, 243, 252);
    border-radius: 15px;
    overflow: hidden;
}

    .preview_image_wrapper > * {
        height: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        z-index: 0;
        border-radius: 5px;
        pointer-events: none;
    }

.attached_files > .attached_file {
    display: grid;
    border-radius: 5px;
    background: #a9d2f0;
    padding: 5px;
    grid-template-columns: 75px 1fr;
    max-width: 40vw;
    align-items: center;
    border: #72aeda solid;
}

.file_title {
    font-size: 1.1em;
    color: #509aff !important;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.attached_files > .attached_file > div > .file_size {
    padding: 5px;
}

.attached_files > .attached_file > img {
    border-radius: 5px;
    width: 75px;
}

.attached_files > .attached_file > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    padding-left: 0;
}

.italic {
    font-style: italic;
    opacity: .7;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: baseline;
}

    .titles > div {
        padding: 0 1px;
        height: 15px;
    }

        .titles > div > .speech {
            top: -570%;
        }


        .titles > div > img {
            top: 2px;
        }

.chat-main__item--right > div > .chat-wrapper > .chat-item__box > .titles {
    flex-direction: row-reverse;
    justify-content: end;
}

    .chat-main__item--right > div > .chat-wrapper > .chat-item__box > .titles > span {
        flex-direction: row-reverse;
        padding: 0 15px 0 0;
    }

.chat-wrapper {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    max-width: 45vw;
}


.chat-main__item--right > .chat-main__content > .chat-wrapper > span {
    opacity: .75;
    display: flex;
    justify-content: end;
}

.chat-wrapper > span {
    opacity: .7;
    font-size: .8em;
    padding: 5px 7px;
    min-width: 15%;
}

.time-gap {
    text-align: center;
    margin: 25px 0;
    /* background-color: rgb(229 229 229 / 50%); */
    /* width: 25%; */
    display: flex;
    justify-content: center;
}

    .time-gap > .timer {
        background-color: rgb(217 217 217 / 50%);
        width: fit-content;
        padding: 5px 10px;
        border-radius: 25px;
    }


.chat-ellips__item {
    padding: 6px 6px;
    margin: 0 6px;
}

    .chat-ellips__item:hover {
        animation-name: emoji_scale;
        animation-duration: .25s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.24,1.49,1,.99);
    }

@keyframes emoji_scale {
    0% {
        transform: scale(1);
    }

    100% {
        padding: 6px 3px;
        margin: 0 9px;
        transform: scale(2) translateY(-10%);
    }
}

#loading_circle {
    border: 10px solid #dfdfdf;
    border-top: 10px solid #3498db;
    border-left: 10px dashed #e1edff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 15;
}

.loader_show {
    animation: loader_show .25s ease-out, spin .5s linear infinite !important;
    animation-fill-mode: forwards !important;
    bottom: unset;
}

@keyframes loader_show {
    0% {
        bottom: 125%;
    }

    100% {
        bottom: 100%;
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%,100%) rotate(0deg);
    }

    100% {
        transform: translate(-50%,100%) rotate(360deg);
    }
}

#unread_messages {
    background-color: rgba(136, 191, 252,1);
    width: calc(100% - 35px);
    height: 30px;
    z-index: 4;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px 15px;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.new_messages > * {
    color: red;
    display: flex;
}

.new_messages {
    align-items: center;
    display: flex;
    padding: 0 0;
}

    .new_messages > span {
        position: absolute;
        color: white;
        background-color: red;
        font-family: 'Roboto', sans-serif;
        padding: 5px;
        border-radius: 15px;
        font-size: .7em;
        z-index: 2;
        left: 50%;
        transform: translate(-50%,47%);
        white-space: nowrap;
    }

#new_messages_template {
    display: none;
}

.new_messages > hr {
    border-style: solid;
    width: 100%;
    position: absolute;
    z-index: 2;
}

#unread_messages > * {
    color: white;
}

.fa-cancel-icon:before {
    transform: rotate(-15deg);
    content: "\01F5D9";
}

#chat-search__list {
    transform: translateX(-100%);
    width: 40vw;
    height: 100%;
    background: #eef4ff;
    z-index: 10;
    left: 100%;
    border-radius: 15px 0 0 15px;
    /*display: none;*/
    list-style-type: none;
    min-width: 50vw;
    max-width: calc(100vw / 2); /* 1/3 of viewport width in wide resolution */
    border-radius: 0px 0 0 20px;
}



@media (max-aspect-ratio: 1/1) {
    #chat-search__list {
        color: black !important;
        min-width: calc(100vw / 1.75); /* 2/3 of screen width in tall resolution */
        max-width: calc(100vw / 1.75); /* 2/3 of screen width in tall resolution */
    }

    .placeholder_loading_chat_box > * {
        max-width: 25vw;
    }

        .placeholder_loading_chat_box > * > * {
            max-width: 10vw;
        }
}

#chat-search__list::-webkit-scrollbar {
    display: none;
}

#chat-search__list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.fa-pen {
    content: '\270E';
}

.innerlist {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100%);
    padding: 10px 0 25px 0;
    margin-top: 10px;
    top: calc( 50% - 5px);
    border-radius: 25px;
    background: #eef4ff;
    left: calc( 50% + 10px);
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    gap: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    border-radius: 25px;
}

#search__list_placeholder_layer {
    overflow-y: hidden;
    z-index: 2;
    padding-right: 10px;
}

.message_highlight::before {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 15px;
    background: blue;
    content: "";
    animation: search-message-highlight 2s;
    animation-fill-mode: forwards;
}

@keyframes search-message-highlight {
    0% {
        background: rgba(170, 224, 255,0);
    }

    25% {
        background: rgba(170, 224, 255,1);
    }

    75% {
        background: rgba(170, 224, 255,1);
    }

    100% {
        background: rgba(170, 224, 255,0);
    }
}

#search__list_placeholder_layer::-webkit-scrollbar {
}

#popup_layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

    #popup_layout > * {
        pointer-events: auto;
    }

:root {
    --placeholder-avatar-color: #bbccef;
    --placeholder-box-color: #728abb;
    --placeholder-title-box-color: #c4cddf;
    --placeholder-content-boxes-color: #e3ecff;
}

.placeholder_boxes_holder {
    display: flex;
    letter-spacing: 5px;
    justify-content: unset !important;
    gap: 3px;
    flex-wrap: wrap;
    font-size: 1em;
}

    .placeholder_boxes_holder > * {
        border-radius: 25px;
    }

.placeholder_content_boxes {
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
}

    .placeholder_content_boxes > * {
        background-color: var(--placeholder-content-boxes-color );
    }

.time_loading_placeholder {
    margin-bottom: 5px;
}

    .time_loading_placeholder > * {
        background-color: var(--placeholder-avatar-color);
    }

.titles.placeholder_boxes_holder > * {
    background-color: var(--placeholder-title-box-color);
}

.placeholder_loading_chat_box {
    background-color: var(--placeholder-box-color);
}

.loading_image {
    border-radius: 50%;
    background: var(--placeholder-avatar-color);
    width: 40px;
    height: 40px;
}

#search_loading_placeholder_template {
    display: none;
}

.placeholder_chatbox {
    background-color: #d6e3ff;
    border-radius: 10px;
    padding: 15px 10px;
}

.placeholder_boxes_holder > * {
    overflow: hidden;
}

:root {
    --slide-color: 235, 241, 255;
    --placehold_chatboxes-color: 255, 255, 255;
}

.placeholder_content_boxes > *::after {
    background: -moz-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%, rgba(var(--placehold_chatboxes-color),0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(var(--placehold_chatboxes-color),0)), color-stop(50%,rgba(var(--placehold_chatboxes-color),0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* IE10+ */
    background: linear-gradient(to right, rgba(var(--placehold_chatboxes-color),0) 0%,rgba(var(--placehold_chatboxes-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%) !important; /* W3C */
    pointer-events: none;
}

.layer_hole {
    overflow: hidden;
}

    .layer_hole::after {
        animation-name: image_slide !important;
    }

    .layer_hole::after, .placeholder_boxes_holder > *::after {
        pointer-events: none;
        content: '';
        top: 0;
        transform: translateX(-200%) translateY(-50%);
        width: 65%;
        height: 220px;
        position: absolute;
        z-index: 1;
        animation: slide 1.5s infinite 0s ease-out;
        /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
        background: -moz-linear-gradient(left, rgba(var(--slide-color),0) 0%, rgba(var(--slide-color),0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(var(--slide-color),0)), color-stop(50%,rgba(var(--slide-color),0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(var(--slide-color),0) 0%,rgba(var(--slide-color),0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
    }

/* animation */

@keyframes image_slide {
    0% {
        transform: translateX(-150%) translateY(-50%) rotate(-25deg);
    }

    100% {
        transform: translateX(200%) translateY(-50%) rotate(25deg);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-250%) translateY(-50%) rotate(15deg);
    }

    100% {
        transform: translateX(0%) translateY(-50%) rotate(-15deg);
    }
}

#chat-search__list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fake_chat:hover {
    background: #cbd8f5;
}

.fake_chat {
    background: #d6e3ff;
    padding: 15px 5px;
}

#search_not_found > img {
    width: 50%;
}

#search_not_found {
    position: absolute;
    text-align: center;
    font-size: 3em;
    color: #a4bef3;
    display: none;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateY(-50%) translateX(-50%);
}


.fc_jump_to {
    position: absolute;
    border-radius: 25px;
    background: #eef4ff;
    padding: 5px;
    color: #b2c0f0;
    font-size: 1.15em;
    display: none;
    pointer-events: none;
}

.fake_chat:hover > .fc_jump_to {
    display: unset;
    animation: fc_jump_to .25s;
    animation-timing-function: cubic-bezier(0,1.02,.18,.99);
    animation-fill-mode: forwards;
    left: 50%;
}

.fake_chat {
    pointer-events: auto;
    cursor: auto;
}

.fake_chat_anim {
    transform: translateY(100%);
    animation: fake_chat_anim .35s;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: none;
    animation-timing-function: cubic-bezier(0,.45,.38,.99);
}





@keyframes new_chat_box {
    0% {
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fake_chat_anim {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fc_jump_to {
    0% {
        transform: translateY(50%) translateX(-50%);
        z-index: -1;
    }

    50% {
        z-index: 0;
    }

    100% {
        transform: translateY(0%) translateX(-50%);
    }
}

#scroll_bottom > span > img {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    transform: scaleX(.9);
}

#scroll_bottom > span {
    align-items: center;
    display: flex;
}

#scroll_bottom {
    position: absolute;
    bottom: 0;
    background: #e3eeffeb;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px 15px;
    color: #8c9db7;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    justify-content: space-between;
}

#scroll_message_bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    padding: 5px 15px;
    bottom: 0;
    background-color: #dae5f0f2;
    width: 100%;
    border-radius: 10px 10px 0 0;
    pointer-events: auto;
    cursor: pointer;
}

    #scroll_message_bottom > span {
        display: flex;
        align-content: center;
        color: gray;
    }

        #scroll_message_bottom > span > img {
            width: 20px;
            height: 20px;
            margin: 0 5px;
            transform: scaleX(.8);
            color: blue;
        }

.button_red_highlight:hover {
    background-color: red !important;
}

    .button_red_highlight:hover > input {
        background-color: red !important;
        color: white !important;
    }

    .button_red_highlight:hover > img {
        background-color: red !important;
        filter: none;
    }

.button_red_highlight > input {
    color: red !important;
}

.button_red_highlight > img {
    color: red !important;
    filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(6655%) hue-rotate(1deg) brightness(113%) contrast(114%);
}

.chat-ellips__dropdown__menu > li > input {
    text-align: left;
    font-weight: 600;
}

.chat-ellips__dropdown__menu > li {
    gap: 15px;
    display: flex;
    justify-content: space-around;
    height: 35px;
    margin: 2px 5px;
    text-align: left;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}



    .chat-ellips__dropdown__menu > li > img {
        height: 75%;
        transform: translateY(-1px);
    }

    .chat-ellips__dropdown__menu > li:first-child {
        margin-top: 5px;
    }

    .chat-ellips__dropdown__menu > li:nth-last-child(3) {
        margin-bottom: 5px;
    }

textarea {
    font-family: 'Roboto', sans-serif;
    flex: 1;
    min-height: 40px;
    resize: none;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
    padding: 10px;
    margin-right: 10px;
    background-color: #f6f6f9;
    box-sizing: border-box; /* Add this line */
    height: 100%;
    font-size: 15px;
}

.editingBoxes {
    align-items: center;
    padding: 5px 0;
    height: auto;
}

    .editingBoxes > textarea {
        background: none;
        color: white;
    }

.mess_content[contenteditable=true] {
    margin: 5px 0;
    outline: none;
    background: #d0dfff29;
    border-radius: 5px;
    padding: 5px 5px;
}

.mess_content.toRemove {
    min-width: 30vw;
}

.message_editing > .chat-main__content > .chat-wrapper > .chat-item__box > #main__ellips {
    display: none !important;
}

.display_none {
    display: none !important;
}

.mess_edited {
    font-size: .75em;
    top: -1px;
}

.chat-main__list {
    overflow-x: hidden;
}

#attachMenuButton {
    user-select: none;
}

    #attachMenuButton > img:hover {
        filter: brightness(1.5) saturate(.9);
    }

#uploadPreview {
    width: 100%;
    /* height: 25px; */
    display: flex;
    overflow-x: auto;
    overflow-y: clip;
    list-style: none;
    gap: 5px;
    border-radius: 15px;
}

.chat-footer {
    display: grid;
    padding: unset !important;
    min-height: unset !important;
    height: unset !important;
    background: none !important;
    border-top: none !important;
    grid-template-columns: 1fr;
}


.footer-wrapper {
    display: flex;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    height: 85px;
}

.uploadPreviewContainer {
    overflow: hidden;
    padding: 0 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 10px 10px 0 0;
}

.filePreview {
    width: 12vw;
    height: 12vw;
    flex: 0 0 auto;
    background: gray;
    margin: 10px;
    border-radius: 5px;
    background: #d6e6ff;
    display: flex;
    align-items: end;
    min-width: 150px;
    min-height: 150px;
    padding: 5px;
}

    .filePreview > img {
        height: 70%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        z-index: 0;
        pointer-events: none;
    }

    .filePreview > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #6091b7;
        width: 100%;
        padding-bottom: 2px;
    }

.filePreviewToolbar {
    position: absolute;
    background: #7d808a;
    bottom: 100%;
    left: 100%;
    transform: translate(-85%,100%);
    height: 22%;
    display: flex;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
}

    .filePreviewToolbar > * {
        aspect-ratio: 1 / 1;
        height: 100%;
        padding: 5px;
        background: #7eaadd;
        cursor: pointer;
    }

        .filePreviewToolbar > *:hover {
            filter: brightness(1.15);
        }

        .filePreviewToolbar > * > img {
            height: 100%;
            width: 100%;
        }

.delete_icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(6655%) hue-rotate(1deg) brightness(113%) contrast(114%);
}

#uploadPreviewTemplate {
    display: none;
}


#attached_file_template {
    display: none;
}

.chat-wrapper > .sending_status {
    display: none;
}

.chat-main__item[owner='true'] > .chat-main__content > .chat-wrapper > .sending_status {
    justify-content: end;
}

.attached_files + .emoji_list {
    padding-top: 5px;
}

.attached_files {
    padding-top: 3px;
    display: grid;
    gap: 7px;
}

.mess_content:empty {
    height: 0;
}

.mess_content.toRemove {
    height: unset !important;
}

#search_messages_pages {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    padding-top: 10px;
}

    #search_messages_pages > a {
        cursor: pointer;
        user-select: none;
        padding: 5px;
        border-radius: 5px;
    }

    #search_messages_pages > span, #numberic_buttons > * {
        padding: 5px;
        border-radius: 50%;
        height: 35px;
        min-width: 35px;
        justify-content: center;
    }

    #search_messages_pages > a, #numberic_buttons > * {
        display: flex;
        align-items: center;
        color: #5889ce;
        flex-wrap: wrap;
        cursor: pointer;
    }

#numberic_buttons > .highlight {
    background: #cbe1ff !important;
}
        #search_messages_pages > a:hover, #numberic_buttons > *:hover {
            background: #6f7e912b;
        }

::-webkit-scrollbar {
    background: none;
}

#fake_messages > span {
    padding: 5px;
    color: #5889ce;
}

.preview_play_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    z-index: 2;
}

#numberic_buttons {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
}

@media (max-aspect-ratio: 1.1/1) {
    #numberic_buttons{
        padding: 0; 
    }
}

.button_disabled {
    opacity: .5;
    cursor: not-allowed !important;
}

.attached_files > img{
    cursor: pointer;
}
#MediaMenu.fade {
    animation: media_menu_fade_out .25s !important;
    animation-fill-mode: forwards !important;
    animation-timing-function: cubic-bezier(.23,1.02,.08,.99);
}
#MediaMenu {
    width: 100%;
    height: calc(100% + 1px);
    position: absolute;
    bottom: 50%;
    transform: translateY(calc(50% - 1px));
    background: rgba(0,0,0,.8);
    z-index: 16;
    animation: media_menu_fade_in .35s;
    animation-timing-function: cubic-bezier(.23,1.02,.08,.99);
    animation-fill-mode: forwards;
    display: none;
    backdrop-filter: blur(0px);
}

    #MediaMenu > #ImagePreview {
        display: flex;
        position: absolute;
        height: auto;
        width: auto;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        justify-content: center;
        flex-direction: column;
    }

        #MediaMenu > #ImagePreview > img {
            max-height: 100%;
            max-width: 100%;
        }
        #MediaMenu > #ImagePreview > a {
            color: white;
            opacity: .65;
     
            padding: 5px 1px;
            text-decoration-color: rgba(255,255,255,0);
            align-self: flex-start;
        }

        #MediaMenu > #ImagePreview > a:hover {
            animation: media_menu_href_glow .15s;
            animation-fill-mode: forwards;
    
        } 
@keyframes media_menu_fade_in{

    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(2px);
        
    }

}
@keyframes media_menu_fade_out{
    0%{
        opacity:1;
        backdrop-filter: blur(2px);

    }
    100% {
        opacity: 0;
        backdrop-filter: blur(0px);
        display: none;
        pointer-events: none;
    }
}
@keyframes media_menu_href_glow {
    0% {
        opacity: .65;
        text-decoration-color: rgba(255,255,255,0);
    }
    50% {
        text-decoration-color: rgba(255,255,255,.75);
    }
    100% {
        text-decoration-color: rgba(255,255,255,1);
        opacity: 1;
    }
}
#MediaMenu > * {
        align-self: center;
}
.chat__header{
    user-select: none;
}
#MediaMenuArrows {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
   
    #MediaMenuArrows > img {
        aspect-ratio: 1/1;
        width: 10%;
        height: 10%;
        cursor: pointer;
    }

    #MediaMenuArrows > img:hover{
        transform:scale(1.1);
    }


.search_option_menu {
    min-width: 50vw;
    height: auto;
    background: #eef4ff;
    position: absolute;
    right: 0%;
    border-radius: 0px 0 0 20px;
    visibility: hidden;
}

.search_option_menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px;
    border: #eaeaff;
    border-style: solid;
    border-top-style: none;
    border-right: none;
}
    .search_option_menu > hr{
        height: 1px;
        margin: 5px;
    }

    .search_option_menu > a, .search_option_menu > span {
        color: #37628e;
        padding: 9px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        user-select: none;
        justify-content: space-between;
    }
        .search_option_menu > a > span {
            opacity: .7;
            color: #64788a;
            padding: 0 5px;
            pointer-events: none;   
        }


        .search_option_menu > a:hover {
            background: rgb(66,156,213);
            background: linear-gradient(90deg, rgba(66,156,213,0.17) 0%, rgba(66,156,213,0.34) 64%, rgba(66,156,213,0.75) 100%);
            cursor: pointer;
        }
        .search_option_menu > a:hover > img {
            visibility: visible;
        }
        .search_option_menu > a > img {
            height: 15px;
            margin-left: auto;
            visibility: hidden;
        }

#search-box {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    opacity: 0;
    gap: 5px;
    padding: 2px 0px 2px 45px !important;
    margin-left: -35px;
    flex-wrap: nowrap;
    border-radius: 7px;
}
    #search-box::-webkit-scrollbar {
        display: none;
   
    }

#search-box {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: hidden;
}

    #search-box > div:not(#search_last_span) {
        background-color: #d4e0ff;
        border-radius: 5px;
        padding: 2px 6px;
        cursor: pointer;
        flex: 0 0 auto;
    }
#search_last_span {
    flex-grow: 1;
    transform: translateY(1px);
    min-width: 50px;
    overflow-y: hidden;
    white-space: nowrap;
}
div, span {
    outline-width: 0;
}

.chat-main__ellips button i{
    transform: translateY(-30%);
}

#search_option{
    z-index: 10;
}

#has_table{
    z-index:11;
}