.italic{
    font-style:italic;
    opacity:.7;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main__item--right > div > .chat-wrapper > .chat-item__box > .titles {
    flex-direction: row-reverse;
    justify-content: end;   
}
    .chat-main__item--right > div > .chat-wrapper > .chat-item__box > .titles > span {
        flex-direction: row-reverse;
        padding: 0 15px 0 0;
    }

.chat-wrapper {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    max-width: 45vw;
}


.chat-main__item--right > .chat-main__content > .chat-wrapper > span {
    opacity: .75;
    display: flex;
    justify-content: end;
}

.chat-wrapper > span {
    opacity: .7;
    font-size: .8em;
    padding: 5px 7px;
    min-width: 15%;
}

.time-gap {
    text-align: center;
    margin: 25px 0;
    /* background-color: rgb(229 229 229 / 50%); */
    /* width: 25%; */
    display: flex;
    justify-content: center;
}

    .time-gap > .timer {
        background-color: rgb(217 217 217 / 50%);
        width: fit-content;
        padding: 5px 10px;
        border-radius: 25px;
    }


.chat-ellips__item {
  padding: 6px 6px;
  margin: 0 6px;
}

    .chat-ellips__item:hover {
        animation-name: emoji_scale;
        animation-duration: .25s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.24,1.49,1,.99);
    }

@keyframes emoji_scale{
    0% {
        transform: scale(1);
       
    }
    100% {
        padding: 6px 3px;
        margin: 0 9px;
        transform: scale(2) translateY(-10%);
      
    }
}

#loading_circle {
    border: 10px solid #dfdfdf;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 5;
}

.loader_show {
    animation: loader_show .25s ease-out, spin .5s linear infinite !important;
    animation-fill-mode: forwards !important;
    bottom: unset;
}

@keyframes loader_show {
    0%{
        bottom: 125%;
    }
    100%{
        bottom:100%;
    }
}
@keyframes spin {
    0% {
        transform: translate(-50%,100%) rotate(0deg);
    }

    100% {
        transform: translate(-50%,100%) rotate(360deg);
    }
}