.usrdetail-modal-email {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    width: 600px;
    background-color: white;
    border-right: 1px solid var(--border-color);
    transition: all 0.5s ease;
    transform: translateX(-100%);
}

    .usrdetail-modal-email.hide {
        display: none;
    }

#btnMdEmailcls,
#btnMdEmailshw {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45%;
    right: -2.5%;
    background: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 18px;
    border-right: 2px solid var(--border-color);
}

#btnTggleEmail:hover {
    opacity: 0.7;
}

.usrdetail-modal-email-Content {
    margin: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.email-Content-action {
    display: flex;
}

    .email-Content-action select {
        border: 1px solid var(--border-color);
        border-left: none;
        border-top: none;
        border-top-left-radius: 5px;
        outline: none;
        padding: 0 5px;
    }

.usrdetail-modal-email h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#tblEmail_subject,
#tblEmail_recipients {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 500;
}

.modal-email-Content-ckeditor {
    height: 546px;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0;
    font-size: 14px;
}

.modal-email-Content-action {
    display: flex;
    padding: 15px;
    border-top: 1px solid var(--border-color);
    justify-content: space-evenly;
}

    .modal-email-Content-action button {
        width: 200px;
        height: 30px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        transition: all .5s ease;
        background-color: #c9c9c9;
    }

        .modal-email-Content-action button:hover {
            opacity: 0.8;
        }

        .modal-email-Content-action button:last-child {
            color: white;
            background-color: var(--primary-color);
        }
