:root {
    /*dark color*/
    --dark0-color: #212129;
    --dark1-color: #323949;
    --dark2-color: #3d3e51;
    --dark3-color: #40445a;
    --dark4-color: #4c5265;
    --dark5-color: #2b2c32;
    --dark6-color: #353a46;
    /*brand color*/
    --brand0-color: #5156be;
    --brand1-color: #000e52;
    --brand2-color: #5370b4;
    /**/
    --primary-blue-color: #1f7cc3;
    --gray-bland-color: #d4d4d4;
    --dark-owner-mess-color: #7a7a89
}

/*Genaral*/
.modalSetting_content {
    width: 320px;
}

.darkmode .modalSetting_content {
    background-color: var(--dark5-color);
}

    .darkmode .modalSetting_content h2 {
        color: var(--primary-color);
    }


.darkmode .modalSetting_content_radioGroup h6,
.darkmode .MdradioGroup label {
    color: white;
}

.content {
    transition: all 0.5s
}


/*Dark NavBar*/
.topbar-dark.nav {
    background-color: var(--dark0-color);
}

.topbar-dark #lblUserName {
    color: white;
}

.topbar-dark .btn-menuleft {
    color: white;
}

.topbar-dark .dropdown-content {
    background-color: var(--dark4-color);
}

    .topbar-dark .dropdown-content a {
        color: white;
    }

        .topbar-dark .dropdown-content a:hover {
            background-color: var(--dark2-color);
        }

.topbar-dark .darkmode div {
    color: white;
}


.topbar-dark .Notification-icon {
    color: white;
}

.topbar-dark .search-box__input {
    background-color: var(--gray-bland-color);
}

.topbar-dark .search-box__btn {
    background-color: var(--primary-blue-color);
}

/*Brand NavBar*/
.topbar-brand.nav {
    background-color: var(--brand0-color);
}

.topbar-brand .search-box__btn {
    background-color: var(--brand1-color);
}

.topbar-brand #lblUserName {
    color: white;
}

.topbar-brand .btn-menuleft {
    color: white;
}

.topbar-brand .darkmode div {
    color: white;
}


.topbar-brand .Notification-icon {
    color: white;
}


/*Dark SideBar*/
.sidebar-dark.sidebar {
    background: var(--dark5-color);
}

.sidebar-dark .sidebar-item__link {
    color: white;
}

/*Brand SideBar*/
.sidebar-brand.sidebar {
    background-color: var(--brand2-color);
}

.sidebar-brand .sidebar-item__link {
    color: var(--brand1-color);
}

    .sidebar-brand .sidebar-item__link.active > i {
        color: white;
    }


/*Layout Dark*/
.layout-dark.content {
    background-color: var(--dark6-color);
}

.layout-dark .employee-body-card {
    background-color: #778496;
}

.layout-dark .employee-card__body-name {
    color: white;
}

    .layout-dark .employee-card__body-name p {
        color: #aeb7e4;
    }

.layout-dark .employee-card__header-ellipsis {
    color: white;
}

.layout-dark .employee-card__ellipsis,
.layout-dark .employee-card__subEllipsis {
    background-color: #e6e6e6;
}

.layout-dark .employee-header-title {
    color: white;
}

    .layout-dark .employee-header-title span {
        color: var(--primary-blue-color);
    }

.layout-dark .employee-header__ellipsis {
    background-color: #1f7cc3;
}

.layout-dark .employee-header__content p {
    color: white;
}

    .layout-dark .employee-header__content p span {
        color: var(--primary-blue-color);
    }

.layout-dark .employee-header-search input[type="search"] {
    background-color: var(--gray-bland-color);
    color: black;
}

.layout-dark .employee-header-search a {
    background-color: var(--primary-blue-color);
}

.layout-dark #drplist_filterEmpolyee {
    background-color: var(--gray-bland-color);
}

.layout-dark * {
    border-color: #878787;
}

.layout-dark.modal-vertical__container { /*---------------------*/
    background-color: var(--dark4-color);
}

.layout-dark .modal-vertical__container-title {
    color: white;
}

.layout-dark .userInfor__desc p span {
    color: white;
}

.layout-dark .userInfor__desc span {
    color: #e1e1e1;
}

.layout-dark .userInfor-SendMail button {
    background-color: var(--primary-blue-color);
}

.layout-dark .userInfor-Detail__infor p {
    color: #dcf3ff;
}

.layout-dark .userInfor-Detail__infor span {
    color: white;
}

.layout-dark .modal-vertical__close {
    color: white;
}

    .layout-dark .modal-vertical__close:hover {
        color: black;
    }

.layout-dark .userInfor-Detail__title {
    color: white;
}

.layout-dark .UIDetail__action p {
    color: white;
}

.layout-dark .userInfor-Detail__editor select,
.layout-dark .userInfor-Detail__editor input {
    background-color: transparent;
    color: white;
    color-scheme: dark;
}

.layout-dark .userInfor-Detail__editor p {
    background-color: var(--dark4-color);
    color: white;
}

.layout-dark #sltGender option,
.layout-dark #sltUserType option,
.layout-dark #sltStatus option {
    color: white;
    background-color: gray;
}

    .layout-dark #sltStatus option:hover {
        background-color: red;
    }

.layout-dark.UIdetail-modal-delete {
    background-color: var(--dark5-color);
}

    .layout-dark.UIdetail-modal-delete h3 {
        color: white;
    }

    .layout-dark.UIdetail-modal-delete p {
        color: var(--gray-bland-color);
    }

.layout-dark.usrdetail-modal-email {
    background-color: var(--dark4-color);
}

    .layout-dark.usrdetail-modal-email h2 {
        color: white;
    }

.layout-dark #email_action {
    background-color: transparent;
    color: white;
}

    .layout-dark #email_action option {
        background-color: var(--gray-bland-color);
        color: black;
    }

.layout-dark #tblEmail_subject,
.layout-dark #tblEmail_recipients {
    background-color: transparent;
    color: white;
}

    .layout-dark #tblEmail_content,
    .layout-dark #tblEmail_subject::placeholder,
    .layout-dark #tblEmail_recipients::placeholder {
        color: white;
    }

.layout-dark .btn btn-chat-footer {
    background-color: var(--primary-blue-color);
}

.layout-dark .btn-chat-footer {
    background-color: var(--primary-blue-color);
}

.layout-dark #attachMenuButton img {
    background-color: white;
    border-radius: 50%
}

.layout-dark .chat-wrapper span {
    color: #cccccc;
}

.layout-dark .time-gap div {
    color: #cccccc
}

.layout-dark.sidebar,
.layout-dark.nav {
    border-color: #878787;
}

.layout-dark .chat-header__title p {
    color: white;
}

.layout-dark .chat-ellips__emoji__toggle:hover,
.layout-dark .chat-ellips__dropdown__toggle:hover {
    background-color: var(--dark4-color);
}

.layout-dark .chat-ellips__dropdown__menu,
.layout-dark .chat-ellips__show_emoji {
    background-color: var(--dark6-color);
}

    .layout-dark .button_red_highlight:hover,
    .layout-dark .chat-ellips__dropdown__menu li:hover {
        background-color: var(--dark0-color);
    }

    .layout-dark.chat-ellips__dropdown__menu .edit_button input {
        color: #ccc;
    }

    .layout-dark.chat-ellips__dropdown__menu .delete_button input {
        color: #dc3545 !important;
    }

.layout-dark .edit_button img {
    filter: invert(87%) sepia(3%) saturate(13%) hue-rotate(314deg) brightness(95%) contrast(91%);
}

.layout-dark .delete_button img {
    filter: invert(41%) sepia(79%) saturate(6053%) hue-rotate(338deg) brightness(92%) contrast(87%);
}

.layout-dark .button_red_highlight:hover input,
.layout-dark .button_red_highlight:hover img {
    background: none;
}

.layout-dark #search_open {
    color: white;
}

.layout-dark .chat__search-box__btn {
    color: white;
}

.layout-dark .Notification-container {
    background-color: var(--dark4-color);
}

.layout-dark .Noti-Item:hover {
    background-color: var(--dark3-color);
}

.layout-dark .Notification-header p {
    color: white;
}

.layout-dark .Notification-header a {
    color: #c8c8c8;
}

.layout-dark .Noti-desc h5 {
    color: white;
}

.layout-dark .Noti-desc p {
    color: #c8c8c8;
}

.layout-dark .Noti-desc span {
    color: #c8c8c8;
}

.layout-dark .Notification-footer a {
    color: var(--primary-blue-color);
}

.layout-dark .language_content {
    background-color: var(--dark4-color);
    color: white;
}

    .layout-dark .language_content a {
        border-radius: 5px;
    }

        .layout-dark .language_content a:hover {
            background-color: var(--dark3-color);
        }

.layout-dark .userInfor-header-desc h4,
.layout-dark .userInfor-header-desc h5 {
    color: white;
}

.layout-dark .userInfor-header-desc p {
    color: #b4b4b4;
}

.layout-dark .divInforStatus p {
    color: #b4b4b4;
}

.layout-dark .userInfor-body-title {
    color: white;
}

.layout-dark .userInfor-body-desc p {
    color: white;
}

.layout-dark .userInfor-body-desc select,
.layout-dark .userInfor-body-desc input,
.layout-dark .userInfor-body-desc span {
    color: #b9c7d7;
    color-scheme: dark;
}



.layout-dark .userInfor-body-desc input,
.layout-dark .userInfor-body-desc select {
    background-color: var(--dark5-color);
}

.layout-dark .custom-file-upload {
    color: white;
}

.layout-dark.modalSetting .modalSetting_content {
    background-color: var(--dark4-color);
}

.layout-dark .modalSetting_content h2 {
    color: white;
}

.layout-dark .modalSetting_content_radioGroup h6 {
    color: white;
}

.layout-dark .MdradioGroup label {
    color: white;
}
.layout-dark .chat-item__box {
    background: #484951;
}
.layout-dark #txt_Message_wrapper {
    border: none;
    background-color: #636771;
}
.layout-dark #txt_Message {
    background-color: #636771;
}

    .layout-dark #txt_Message:empty::before{
        color:white;
    }

    .layout-dark .chat-ellips__dropdown button i {
        color: darkgray;
    }

.layout-dark .btnUserType,
.layout-dark .modal-email-Content-action button:last-child {
    background-color: var(--primary-blue-color);
}
.layout-dark .count > span {
    color: white;
}
.layout-dark .attached_files > .attached_file {
    background: #535377;
    border: #3f474e solid;
}
.layout-dark .chat-main__item[owner='true'] .chat-item__box {
    background: var(--dark-owner-mess-color);
}
.layout-dark .sidebar-item__link.active i {
    color: var(--primary-blue-color);
}

.layout-dark .sidebar-item__link.active .speech {
    background-color: var(--primary-blue-color);
}

    .layout-dark .sidebar-item__link.active .speech::after {
        border-right-color: var(--primary-blue-color);
    }

.layout-dark .btnEdit {
    background-color: var(--primary-blue-color);
}

.layout-dark .userInfor__image label {
    background-color: var(--dark5-color);
    color: var(--gray-bland-color);
}

.layout-dark {
    --primary-color-component: 255, 255, 255;
    --primary-text-color: white;
}

    .layout-dark #search_last_span:empty::before{
        color: white;

    }

.layout-dark .innerlist{
    background: var(--dark5-color)
}

    .layout-dark #chat-search__list {
        background: var(--dark5-color)
    }

    .layout-dark .fake_chat, .layout-dark .fc_jump_to {
        background: var(--dark6-color);
        color: white;
    }

.layout-dark .placeholder_chatbox {
    background-color: var(--dark6-color);
}
:root {
    --primary-text-color: #1f7cc3
}

.layout-dark {
    --placeholder-avatar-color: white;
    --placeholder-box-color: gray;
    --placeholder-title-box-color: gray;
    --placeholder-content-boxes-color: rgb(145,145,155);
}

.layout-dark .search_option_menu{
    background: var(--dark6-color);
}

    .layout-dark .search_option_menu > a, .layout-dark .search_option_menu > span {
        color: #62b0ff;
        
    }
        .layout-dark .search_option_menu > a > span{
            color: gray;
        }

    .layout-dark .search_user_table > a > div {
        color: #62b0ff;
    }